@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin "daisyui" {
  themes: false;
}
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-cloud-light: #99b1eb;
  --color-cloud: #3268bb;
  --color-cloud-dark: #49597c;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.slogan {
  font-family: var(--font-dancing-script), cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.hero_title {
  @apply text-4xl md:text-6xl xl:text-7xl 2xl:text-8xl text-center lg:text-left text-cloud-dark font-bold mt-4
}

.hero_pretitle {
  @apply text-lg md:text-xl xl:text-2xl 2xl:text-3xl text-cloud-light
}

.hero_subtitle {
  @apply text-xl md:text-2xl xl:text-4xl 2xl:text-5xl text-center lg:text-left text-cloud font-medium mt-6
}

.button_hero {
  @apply text-[16px] xl:text-xl
}

.section_title {
  @apply text-[22px] md:text-3xl 2xl:text-5xl text-center text-cloud-dark font-bold
}

.section_subtitle {
  @apply text-cloud-dark/70 font-medium text-[14px] text-center lg:text-left 2xl:text-2xl md:mt-2 2xl:mt-5
}

.little_text {
  @apply text-2xl text-cloud mt-3 text-center
}

.contact_text {
  @apply md:text-[16px] xl:text-xl text-cloud font-semibold
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.error-description {
  color: '#ff0000'
}

 .container_mail {
   background-color: #ffffff;
   margin: 0 auto;
   padding: 0;
   max-width: 600px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   overflow: hidden;
 }

 .section {
   padding: 24px 32px;
   margin-bottom: 24px;
 }

 .logo-container {
   padding: 24px;
   text-align: center;
   border-bottom: 1px solid #e9ecef;
 }

 .logo {
   margin: 0 auto;
   filter: brightness(0) invert(1);
 }

 .heading {
   font-size: 28px;
   font-weight: bold;
   margin-bottom: 16px;
   margin-top: 0;
   color: #3268bb;
 }

 .subheading {
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 16px;
   margin-top: 0;
   color: #3268bb;
 }

 .paragraph {
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 16px;
   color: #49597c;
 }

 .order-details-container {
   padding: 24px 32px;
   margin: 0 32px 24px 32px;
   border-radius: 8px;
   background-color: #ffffff;
 }

 .order-row {
   margin-bottom: 12px;
   display: flex;
   flex-direction: row;
 }

 .order-label {
   width: 40%;
   font-size: 14px;
 }

 .order-value {
   width: 60%;
   font-size: 14px;
 }

 .divider {
   margin: 16px 0;
   border-width: 1px;
   border-style: solid;
   border-color: #e9ecef;
 }

 .list {
   padding-left: 0;
   margin: 0 0 24px;
   list-style-type: none;
 }

 .list-item {
   font-size: 14px;
   line-height: 24px;
   margin-bottom: 12px;
   display: flex;
 }

 .cta-container {
   padding: 24px 32px;
   text-align: center;
   margin-bottom: 24px;
 }

 .button {
   border-radius: 6px;
   color: #fff;
   font-size: 16px;
   font-weight: bold;
   text-decoration: none;
   text-align: center;
   display: inline-block;
   padding: 14px 32px;
   background-color: #3268bb;
 }

 .footer {
   padding: 32px 24px;
   border-top: 1px solid #e9ecef;
   background-color: #49597c;
 }

 .footer-text {
   font-size: 14px;
   line-height: 20px;
   margin-bottom: 8px;
   text-align: center;
   color: #ffffff;
 }

 .copyright {
   font-size: 12px;
   line-height: 16px;
   text-align: center;
   margin-top: 16px;
   margin-bottom: 0;
   color: #e9ecef;
 }